<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl py-12 lg:py-24 lg:px-36 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-2">
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://scontent-atl3-2.xx.fbcdn.net/v/t45.5328-4/340960883_6701186806561405_7999292118216209798_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=c48759&_nc_ohc=w3ra1UT7z4gAX9YYbA9&_nc_ht=scontent-atl3-2.xx&oh=00_AfBRWunaulQp1YwjWtwEk4q0a-7kDNPlszDOedW4do8Jxg&oe=6478CB1B"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Calvelleti
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">8'</p>
          </div>
          <p class="text-base text-tomato-500">$60</p>
        </div>
      </figure>
      <figure>
        <div class='w-full'>
          <img
            class="w-full object-contain rounded-3xl shadow-2xl"
            src="https://scontent-atl3-2.xx.fbcdn.net/v/t45.5328-4/340848518_5985913868191890_3511434472098095632_n.jpg?stp=dst-jpg_p720x720&_nc_cat=111&ccb=1-7&_nc_sid=c48759&_nc_ohc=J4IeumOGeDYAX93XvBR&_nc_oc=AQncvLUiApiNL6Rk0SPnVjUlKeSTI3mqZMT41gHNa7TN5Yu7g3jMYM3w6rpdfJKyUIpmB3_0zt9O_fZ6UZ3iKW6f&_nc_ht=scontent-atl3-2.xx&oh=00_AfDw6ehgJj36SFFTW-8Hvlue3Fm7-5DwCfo5VHFEygvpEw&oe=64797D15"
            alt=""
            width="1310"
            height="873"
          />
        </div>
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Roll Tops
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
             5' width/ 20" height
            </p>
          </div>
          <p class="text-base text-tomato-500">$225</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://scontent-atl3-1.xx.fbcdn.net/v/t45.5328-4/339889755_5948091915290064_4517021009050314985_n.jpg?stp=dst-jpg_p720x720&_nc_cat=106&ccb=1-7&_nc_sid=c48759&_nc_ohc=6Wb6iQYcTRsAX_89FLE&_nc_ht=scontent-atl3-1.xx&oh=00_AfBYCL-9XzTdWD8sEmmMOYxTmT-eEowUveTSMd_RgvVasQ&oe=6479CE58"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Calvelleti
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">8'</p>
          </div>
          <p class="text-base text-tomato-500">$60</p>
        </div>
      </figure>
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://scontent-atl3-2.xx.fbcdn.net/v/t45.5328-4/330436364_5903580123066707_2227751874862034592_n.jpg?stp=dst-jpg_p720x720&_nc_cat=102&ccb=1-7&_nc_sid=c48759&_nc_ohc=O2ZvlHzk9hwAX-__0l_&_nc_ht=scontent-atl3-2.xx&oh=00_AfDrJCCpsqGr-WYOmy9V_Kk-e7IXT2tT7cwWJ0sP9roQ7w&oe=6478C5DF"
          alt=""
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
              <a href="#">
                <span aria-hidden="true" class="absolute inset-0"></span>
                Wing Standard
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              6'
            </p>
          </div>
          <p class="text-base text-tomato-500">$275</p>
        </div>
      </figure>
      
    </div>
  </div>
</main>
